:root {
    --color-primary: #2f2f2f;
    --color-bg-section: #474a57;
    --color-secondary: #ebebd3;
    --color-third: #e9806e;
    --color-warning: #a6262e;
    --color-succes: #048a81;
    --btn-color-primary: #8a89c0;
    --btn-color-secondary: #539fef;
    --font-title: "Montserrat", sans-serif;
    --font-text: "Ubuntu Mono", monospace;
    --box-shadow: 0px 0px 15px 4px rgba(10, 10, 10, 0.4);
    --border-radius: 8px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-title);
}

p,
a,
ul,
li,
label {
    font-family: var(--font-text);
    font-size: 16px;
}

a {
    color: var(--btn-color-secondary);
    transition: 0.4s;
}

a:hover {
    text-decoration: none;
    font-style: italic;
}

input {
    background-color: white;
    padding: 10px 5px;
    border-radius: 4px;
    font-size: 16px;
    border: solid 1px var(--btn-color-primary);
    transition: 0.4s;
}

input:focus {
    border: solid 2px var(--btn-color-primary);
    outline: none;
}

input[type="radio"] {
    display: none;
}

select {
    width: 50%;
    padding: 5px 10px;
    border-radius: 3px;
    border: solid 1px var(--btn-color-secondary);
    background-color: transparent;
    color: var(--btn-color-secondary);
    font-weight: bold;
    font-family: var(--font-text);
    font-size: 18px;
}

select:hover {
    cursor: pointer;
}

select:focus {
    border: solid 2px var(--btn-color-secondary);
    outline: none;
}

footer {
    width: 60%;
    text-align: center;
    border-top: solid 1px var(--btn-color-secondary);
}

.section {
    height: 100vh;
    width: calc(100vw - 148px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: -70px;
    padding: 0px 70px;
}

.section>form {
    width: 85%;
}

.section>h2 {
    font-size: 35px;
}

.secondary-background {
    background-color: var(--color-bg-section);
}

.project-description {
    align-items: flex-start;
}

.related-projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 0px;
}

.related-projects>.card {
    width: 40%;
}

.related-projects::first-child {
    margin-right: 20%;
}

.unscrollable {
    overflow: hidden;
}

.header {
    width: 100%;
    border-bottom: solid 1px var(--btn-color-secondary);
}

#navbar>ul {
    padding: 0px;
    padding-left: 70px;
    display: flex;
    justify-content: flex-start;
}

#navbar li {
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    margin-right: 25px;
}

#navbar .current {
    text-decoration: underline;
    font-style: italic;
}

#navbar a {
    font-size: 20px;
}

.main {
    width: calc(100% - 140px);
    padding: 0px 70px;
}

.btn {
    padding: 5px 15px;
    font-size: 18px;
    color: white;
    font-family: var(--font-title);
    font-weight: bold;
    border: none;
    border-radius: 7px;
    transition: 0.4s;
    text-decoration: none;
    white-space: nowrap;
}

.btn:hover {
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transform: scale(1.02);
}

.btn-primary {
    background-color: var(--btn-color-primary);
}

.btn-secondary {
    background-color: var(--btn-color-secondary);
}

.btn-third {
    background-color: var(--color-primary);
    border: solid 1px var(--btn-color-secondary);
    border-radius: var(--border-radius);
    color: var(--btn-color-secondary);
}

.btn-third:hover {
    box-shadow: none;
    color: white;
}

.card {
    padding: 20px;
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.card>img {
    width: 100%;
}

.card>h3 {
    width: 100%;
    text-align: center;
}

.pannel {
    width: fit-content;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    border: solid 1px #7f7373;
    box-shadow: var(--box-shadow);
}

.success {
    background-color: var(--color-succes);
}

.fail {
    background-color: var(--color-warning);
}

.pill {
    padding: 5px 10px;
    margin: 5px;
    background-color: var(--color-third);
    border-radius: 20px;
    width: fit-content;
    font-weight: bold;
    color: white;
}

.container {
    border: solid 1px var(--btn-color-secondary);
    border-radius: 4px;
    width: calc(100% - 40px);
    height: 100%;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
}

.container-title {
    position: absolute;
    top: -15px;
    margin: 0px;
    padding: 0 5px;
    background-color: var(--color-primary);
    color: var(--btn-color-secondary);
}

.container .left-content {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.container .right-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#footer-emoji {
    color: var(--color-warning);
    font-size: 25px;
}

.home-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75vh;
}

.home-banner>img {
    width: 40%;
}

.home-banner h1 {
    margin: 10px 0px;
    font-size: 45px;
    color: #3ec485;
}

.home-banner h2 {
    margin: 10px 0px;
    font-size: 35px;
}

.home-banner-title {
    width: 55%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
}

.title-block {
    background-color: var(--color-succes);
    animation: flash 0.5s infinite;
    width: 12px;
    height: 40px;
}

.tapping {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.searchbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar>label {
    margin-right: 10px;
}

.skills-container {
    width: 100%;
    overflow: hidden;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    cursor: col-resize;
}

.skills .card {
    width: calc(20% - 40px);
    margin: 20px;
}

.skills .card-content {
    width: 100%;
}

.popup-background {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(20, 20, 20, 0.6);
    z-index: 999;
}

.popup {
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: black;
    position: relative;
}

.popup-cross {
    position: absolute;
    top: 0px;
    left: 10px;
    color: var(--color-warning);
    cursor: pointer;
    font-size: 35px;
    margin: 0;
}

#keyword-search {
    padding: 10px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#keyword-search>label {
    margin: 0px 5px;
}

#project-container {
    overflow: hidden;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: calc(100% - 42px);
}

.card-container>.card {
    width: 20%;
    height: 270px;
    margin: 13px;
}

.projects-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.projects>.card {
    width: 25%;
    height: 275px;
    margin: 15px;
}

.card>.keywords {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.progress-bar {
    width: 100%;
    border-radius: 25px;
    border: solid 3px black;
    background-color: #68686a;
    height: 10px;
}

.bar {
    height: 100%;
    background-color: var(--btn-color-secondary);
    border-radius: 25px;
}

.container>.project-left {
    width: 55%;
    text-align: justify;
}

.container>.project-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: space-around;
}

.project-right>.keywords {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}

.project-right>p {
    text-align: end;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track (the area behind the thumb) */
::-webkit-scrollbar-track {
    background-color: #2c3e52;
    /* Set the background color of the track */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: var(--btn-color-secondary);
    /* Set the background color of the thumb */
    border: 3px solid transparent;
    /* Set the border of the thumb */
    border-radius: 6px;
    /* Round the corners of the thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #0066cc;
    /* Change the background color on hover */
}

/* Corner (between the vertical and horizontal scrollbar) */
::-webkit-scrollbar-corner {
    background-color: transparent;
    /* Set the background color of the corner */
}

@keyframes flash {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
